// Mixin variables
// ====================================================================
$defined-bs-type: border-box !default;


// Breakpoint variables
// ====================================================================
$XS: 320px;  // Smartphone portrait
$S: 480px;   // Smartphone landscape
$M: 768px;   // iPad portrait
$L: 1024px; // iPad landscape
$XL: 1224px;  // Desktops and laptops
$BS: 1824px; // Large screens